* {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'karlaregular';
    src: url(../fonts/karla-variablefont_wght-webfont.woff2) format('woff2'),
    url(../fonts/karla-variablefont_wght-webfont.woff) format('woff');

    font-family: 'latoregular';
    src: url(../fonts/lato-regular-webfont.woff2) format('woff2'),
    url(../fonts/lato-regular-webfont.woff) format('woff');


    font-family: 'latobold';
    src: url(../fonts/lato-bold-webfont.woff2) format('woff2'),
    url(../fonts/lato-bold-webfont.woff) format('woff');

    font-family: 'latoblack';
    src: url(../fonts/lato-black-webfont.woff2)format('woff2'),
    url(../fonts/lato-black-webfont.woff) format('woff');
}



.about {
    font-family: 'latoblack', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: auto;
    padding-top: 50px;

}

.h-break {
    margin: 20px;
}

h2 {
    font-family: 'latobold', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 10px;
    padding: 5px 5px 8px 5px;
    text-align: left;
    color: #DFB000;
}

p {
    font-family: 'karlaregular', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin: 10px;
    padding-bottom: 25px;
    line-height: 1.4em;
}

.ux-skills {
    font-family: 'latobold', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 10px;
    padding: 10px;
}

.software-skills {
    font-family: 'latobold', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 10px;
    padding: 10px;
}

ul {
    font-family: 'karlaregular', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin: 10px;
    padding: auto;
    line-height: 25px;
}

/* Back to Top Button */
btt {
    display: block;
    position: absolute;
    bottom: -90%;
    right: 5%;
}
