/* Fonts */

@font-face {
    font-family: 'karlaregular';
    src: url(../fonts/karla-variablefont_wght-webfont.woff2) format('woff2'),
    url(../fonts/karla-variablefont_wght-webfont.woff) format('woff');

    font-family: 'latoregular';
    src: url(../fonts/lato-regular-webfont.woff2) format('woff2'),
    url(../fonts/lato-regular-webfont.woff) format('woff');


    font-family: 'latobold';
    src: url(../fonts/lato-bold-webfont.woff2) format('woff2'),
    url(../fonts/lato-bold-webfont.woff) format('woff');

    font-family: 'latoblack';
    src: url(../fonts/lato-black-webfont.woff2)format('woff2'),
    url(../fonts/lato-black-webfont.woff) format('woff');
}

/* General */

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'latoregular', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #ffffff;
}
h1 {
    font-family: 'latobold', Arial, Helvetica, sans-serif;
    font-size: 2.1rem;
}

h2 {
    font-family: 'latoregular', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

p {
    font-family: 'latoregular', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-left: .75rem;
    margin-right: .75rem;
}

ul {
    font-family: 'latoregular', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 2.3rem;
}



/* Specific */

/* Navigation Bar */
.navbar {
    overflow: hidden;
    background-color: rgb(22, 22, 22);
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
    font-size: 0.85em;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
  
.navbar a.active {
    background-color: #DFB000;
    color: white;
}

/* Let's Connect Button */
button {
    background-color: #DFB000;
    border: none;
    border-radius: .3rem;
    font-family: 'latobold', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    height: 2.5rem;
    width: 9rem;
}

/* Mouse Hover */
.btn:hover {background: rgb(0, 0, 0);}
    .connect {color: #000000;}
    

/*Back to Top*/
.back-to-top-link {
    background-color: #d1c597;
    border-radius: 50%;
    display: block;
    right: .25rem;
    font-size: 2rem;
    line-height: 3rem;
    height: 3rem;
    width: 3rem;
    padding: .25rem;
    text-align: center;
    text-decoration: none;
  }

