* {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'karlaregular';
    src: url(../fonts/karla-variablefont_wght-webfont.woff2) format('woff2'),
    url(../fonts/karla-variablefont_wght-webfont.woff) format('woff');

    font-family: 'latoregular';
    src: url(../fonts/lato-regular-webfont.woff2) format('woff2'),
    url(../fonts/lato-regular-webfont.woff) format('woff');


    font-family: 'latobold';
    src: url(../fonts/lato-bold-webfont.woff2) format('woff2'),
    url(../fonts/lato-bold-webfont.woff) format('woff');

    font-family: 'latoblack';
    src: url(../fonts/lato-black-webfont.woff2)format('woff2'),
    url(../fonts/lato-black-webfont.woff) format('woff');
}

h1 {
    font-family: 'latobold', Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-family: 'latobold', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

.break {
    margin-bottom: 15px;
}

main.portfolio {
    font-family: 'latoregular', Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 10px;
}

p {
    font-family: 'karlaregular', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.4em;
}

.column {
    background-color: #ffffff;
    padding-bottom: 30px;
    
}
/* Navigation Bar */
.navbar {
    overflow: hidden;
    background-color: rgb(22, 22, 22);
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
    font-size: 0.85em;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
  
.navbar a.active {
    background-color: #DFB000;
    color: white;
}

.prototype {
    cursor: pointer;
    display: block;
    background-color: #DFB000;
    border: none;
    font-family: 'latobold', Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 10px;
    padding: 0.5em 0.75em;
}

.prototype2 {
    cursor: pointer;
    display: block;
    background-color: #DFB000;
    border: none;
    font-family: 'latobold', Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 10px;
    padding: 0.5em 0.75em;
}