/* Fonts */

@font-face {
    font-family: 'montserrat-regular';
    src: url(../fonts/montserrat-regular-webfont.woff2) format('woff2'),
    url(../fonts/montserrat-regular-webfont.woff) format('woff');
}

@font-face {
    font-family: 'monsterrat-semibold';
    src: url(../fonts/montserrat-semibold-webfont.woff2) format('woff2'),
    url(../fonts/montserrat-semibold-webfont.woff) format('woff');
}

@font-face {
    font-family: 'monsterrat-bold';
    src: url(../fonts/montserrat-bold-webfont.woff2) format('woff2'),
    url(../fonts/montserrat-bold-webfont.woff) format('woff');
}

@font-face {
    font-family: 'playfairdisplay-regular';
    src: url(../fonts/playfairdisplay-regular-webfont.woff2) format('woff2'),
    url(../fonts/playfairdisplay-regular-webfont.woff) format('woff');
}

nav {
    font-family: 'playfairdisplay-regular', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
}

.description {
    font-family: 'monsterrat-bold', Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
}

