/* Fonts */

@font-face {
    font-family: 'montserrat-regular';
    src: url(../fonts/montserrat-regular-webfont.woff2) format('woff2'),
    url(../fonts/montserrat-regular-webfont.woff) format('woff');

}

@font-face {
    font-family: 'monsterrat-semibold';
    src: url(../fonts/montserrat-semibold-webfont.woff2) format('woff2'),
    url(../fonts/montserrat-semibold-webfont.woff) format('woff');
}

@font-face {
    font-family: 'monsterrat-bold';
    src: url(../fonts/montserrat-bold-webfont.woff2) format('woff2'),
    url(../fonts/montserrat-bold-webfont.woff) format('woff');
  
}

@font-face {
    font-family: 'playfairdisplay-regular';
    src: url(../fonts/playfairdisplay-regular-webfont.woff2) format('woff2'),
    url(../fonts/playfairdisplay-regular-webfont.woff) format('woff');

}

html {
    font-size: 100%;
    background-color: white;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'montserrat', sans-serif;
    font-size: 1rem;
    color: 434343;
}

h1, h2, nav {
    font-family: 'playfairdisplay-regular', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
}

/* Nav */

nav {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

.nav_sections {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.nav_sections li a {
    color: black;
    display: inline-block;
    font-family: 'playfairdisplay-regular', serif;
    font-size: 1.2rem;
    padding: 10px 30px;
    text-decoration: none;
}

.nav_sections li a:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1, 1.1);
    color: #DFB209;
}

.hamburger {
    color: black;
    cursor: pointer;
    display: none;
    font-size: 30px;
}

.hamburger:focus {
    outline: none;
    border: none;
}

/* Reponsive Hamburger Menu */
@media screen and (max-width: 750px) {

    .nav_sections {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav_sections.show {
        display: flex;
    }

    .hamburger {
        display: block;
        border: none;
        background-color: transparent;
    }

    .logo {
        width: 80px;
    }

    .nav_sections li a {
        padding: 10px;
    }

}

.resume {
    border: 1px solid;
    margin-left: 20px;
}

/* Intro */
div.intro {
    font-family: 'monsterrat-bold', sans-serif;
    font-size: 2.2rem;
    line-height: 1.8;
    width: 100%;
    height: 60vh; 
    background-color: #F7F7F7;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}
p.description {
    margin: 4rem;
}



/* .row {
    display: flex;
  }
  
.column {
    flex: 50%;
    padding: 100px;
} */


/* Projects */ 

h3 {
    font-family: 'monsterrat-bold', sans-serif;
    font-size: 2.5rem;
    color: black;
    margin: 0;
}

.item_text {
    font-family: 'monsterrat-regular', sans-serif;
    width: 300px;
    line-height: 1.5;
}

.containers {
    display: grid;
    justify-items: center;
    margin: 2rem 0 0;
}

.container:hover {
    opacity: .7;
}

@media screen and (min-width: 1050px) {
    .containers {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.item_description {
    position: relative;
    margin: 1.5rem 0 4rem;
}