/*default rules for portfolio work pages*/

h1 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    padding-top: 1rem;
}

h2 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

h3 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    font-size: 1.5rem;
    border-bottom: .2rem dashed #000;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}

p {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.project-description {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

li {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
}

main img {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    padding-bottom: 1rem;
}

form {
    text-align: center;
    padding-top: 1rem;
}